@(title: String = "Home")
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'/>
    </head>
    <body>
        <h1>Streaks - Personal Habit Tracker</h1>
        <header>
            <p>
                Welcome to <emph>Streaks</emph>, this extremely simple tool exists to help you keep track of things you've done in a row! It's perfect for starting new daily habits! 
            </p>
        </header>
        <section>

        </section>
    </body>
</html>