@(title: String = "Home", habits: scala.List[String])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'/>
    </head>
    <body>
        <header>
            <h1>Streaks - Personal Habit Tracker</h1>
            <p>
                Welcome to <emph>Streaks</emph>, this extremely simple tool exists to help you keep track of things you've done in a row! It's perfect for starting new daily habits! 
            </p>
        </header>
        <hr>
        <section>
            <h2>New Habit</h2>
            <form>
                <label>Habit Name
                    <input type="text" name="habit" />
                </label>
                <input type="submit" value="Start">
            </form>
        </section>
        <section>
            <h2>Habit Summary</h2>
            
            @if(habits.isEmpty) {
                No habits yet, create some to view summary
            } else {
                <ul>
                @for(habit <- habits){
                    <li>@habit</li>
                }
                </ul>
            }
            
        </section>
    </body>
</html>