@(title: String = "Home", habits: scala.List[Habit])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'/>
    </head>
    <body>
        <header>
            <h1>Streaks - Personal Habit Tracker</h1>
            <p>
                Welcome to <emph>Streaks</emph>, this extremely simple tool exists to help you keep track of things you've done in a row! It's perfect for starting new daily habits! Make a new habit with the form below, then press the (✓) each day you accomplish your goal.
            </p>
        </header>
        <hr>
        <section>
            <h2>New Habit</h2>
            <form method="POST" action='@routes.Streaks.createHabit'>
                <label>Habit Name
                    <input placeholder="Type habit name here" type="text" name="name" />
                </label>
                <input type="submit" value="Start">
            </form>
        </section>
        <section>
            <h2>Habit Summary</h2>
            
            @if(habits.isEmpty) {
                No habits yet, create some to view summary
            } else {
                <table>
                    <thead>
                        <tr>
                            <th>Habit</th>
                            <th>Highest Streak</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(habit <- habits){
                        <tr>
                            <td>@habit.name</td>
                            <td><span>@habit.computeStreak</span></td>
                            <td>
                                <form method="POST" action='@routes.Streaks.markHabitDone'>
                                    <input type="hidden" name="id" value="@habit.id">
                                    <button>(✓)</button>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            
        </section>
    </body>
</html>